.GameContainer {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.GamePlayer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: 0 2vw;
}

.GameComputer .GamePlayerHeader {
  grid-column: 1;
  grid-row: 1;
}

.GameHuman .GamePlayerHeader {
  grid-column: 2;
  grid-row: 1;
}

.GamePlayerHeader {
  grid-column: 2;
  grid-row: 1;
}

.GridContainer {
  grid-column: 2;
  grid-row: 2;
}

.GameHuman .GameFleet {
  grid-column: 1;
  grid-row: 2;
  padding: 30px;
}

.GameComputer .GameFleet .Ship {
  flex-direction: row;
}

.GameHuman .GameFleet .Ship {
  flex-direction: row-reverse;
}

.GameComputer .GridContainer {
  grid-column-start: 1;
  grid-row-start: 2;
}

.GameComputer .GameFleet {
  grid-column-start: 2;
  grid-row-start: 2;
  padding: 30px;
}

.GameButtons {
  margin-top: 30px;
}
