.Grid {
  border-collapse: collapse;
  margin: 5px;
}

.Row {
}

.Cell {
  width: 30px;
  height: 30px;
  border: 1px solid #888;
  padding: 0;
  margin: 0;
}

.HoverNone {
  background: transparent;
}

.HoverValid {
  background: #555;
}

.HoverInvalid {
  background: #a00;
}
