.Grid {
  /* position: absolute; */
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(11, 1fr);
  width: 300px;
  height: 300px;
}

.GridElement {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -1px;;
  margin-bottom: -1px;;
}

.Row {
}

.Grid .Cell {
  border: 1px solid #888;
}

.HoverNone {
  background: transparent;
}

.HoverValid {
  background: #555;
}

.HoverInvalid {
  background: #a00;
}

.Attempt {
  border: 1px solid #222;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: transparent;
}

.AttemptMiss {
  background: blue;
}

.AttemptHit {
  background: red;
}
