.Grid {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 5px;
  min-width: 250px;
  width: 20vw;
}

.Grid td {
  min-height: 0;
  height: 0;
  max-height: 0;
  width: 8%;
  position: relative;
  padding-bottom: 3px;
  margin: 0;
}

.Grid .Cell:after {
  content: '';
  display: block;
  margin-top: 95%;
}

.Row {
}

.Grid .Cell {
  border: 1px solid #888;
}

.HoverNone {
  background: transparent;
}

.HoverValid {
  background: #555;
}

.HoverInvalid {
  background: #a00;
}
