.Ship {
  min-height: 15px;
  height: 20px;
  margin: 10px;
  position: relative;
}

.selected {
  border: 5px solid white;
}

.unselected {
  border: 5px solid transparent;
}

.Destroyer {
  background: #44e;
}

.Submarine {
  background: #0e8;
}

.Cruiser {
  background: #0ee;
}

.Battleship {
  background: #ea3;
}

.Carrier {
  background: #eae;
}

.dimmed {
  /* filter: brightness(30%); */
}

.sunk:after {
  content: '\274c';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
