.Ship {
  min-height: 15px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  position: relative;
}

.Ship .GridElement {
  width: 15px;
  height: 15px;
  border: 1px solid #888;
  /* margin-left: -1px; */
}

.selected {
  filter: brightness(180%);
}

/* .selected { */
/*   border: 3px solid white; */
/* } */

/* .unselected { */
/*   border: 3px solid transparent; */
/* } */

.Destroyer {
  background: #44e;
}

.Submarine {
  background: #0e8;
}

.Cruiser {
  background: #0ee;
}

.Battleship {
  background: #ea3;
}

.Carrier {
  background: #eae;
}

.dimmed {
  filter: brightness(30%);
}

.sunk {
  /* filter: grayscale(100%); */
  opacity: 0.1;
}
