.Ship {
  height: 30px;
  margin: 10px;
}

.selected {
  border: 3px solid yellow;
}

.unselected {
  border: 3px solid transparent;
}

.Destroyer {
  background: #e4e;
}

.Submarine {
  background: #0e0;
}

.Cruiser {
  background: #0ee;
}

.Battleship {
  background: #ee0;
}

.Carrier {
  background: #aae;
}

.dimmed {
  filter: brightness(50%);
}
